body, html {
    font-family: Georgia, serif;
    /* Full height */
    height: 100%;
    margin: inherit;
    overflow-x: hidden;
}

.bg {
    position: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* The image used */
    background-image: url("http://www.telegraph.co.uk/content/dam/Travel/hotels/europe/germany/berlin/regents-berlin-courtyard-p.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 50%;
}

.top-middle {
    position: absolute;
    top: 50px;
    width: 100%;
}

.login-card {
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 25%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    background-color: #141416;
}

.text-white {
    color: white;
}

.text-warning {
    color: #d0021b;
}

.pull-left {
    float: left;
    padding-left: 3%;
    font-weight: bold;
}

.pull-right {
    float: right;
    padding-right: 3%;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 92.5%;
    height: 34px;
    padding: 3px 6px;
    margin-left: 3%;
    font-size: 14px;
    line-height: 1.42857143;
    color: hsl(0, 0%, 33%);
    background-color: hsl(0, 0%, 100%);
    background-image: none;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
}

.button {
    color: #e6e6e6;
    background: hsl(200, 97%, 45%);
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    width: 95%;
    text-align: center;
    display: block;
    padding: 7px 0;
    margin: 10px auto;
}

.button:hover:enabled {
    background: hsl(208, 97%, 45%);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.button[disabled]:hover {
    cursor: not-allowed;
}

a {
    color: #00bcd4;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.4s;
}

a>label {
    position: fixed;
}

a:hover {
    color: #1976d2;
}

.text-center {
    text-align: center;
}

.error-message {
    padding: 0 16px;
    color: tomato;
}

.success-message {
    padding: 0 16px;
    color: green;
}

div.invalid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: inherit;
    padding-top: 7.5%;
    padding-bottom: 25%;
    overflow: hidden;
}

div.home-container {
    position: absolute;
    top: 0;
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unstyled {
    padding-right: 1%;
    margin: 1.2%;
    list-style: none;
    display: flex;
}

.unstyled li {
    margin-right: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.nav {
    background: white;
    height: auto;
    padding-bottom: 48%;
}

div.nav>h2 {
    margin-top: 0.7%;
    padding-left: 1%;
}


/*perfectdropdown*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5e5e5;
    border-radius: .25rem
}

.dropdown-header, .dropdown-item {
    display: block;
    padding: 3px 20px;
    line-height: 1.5;
    white-space: nowrap
}

.dropdown-divider {
    height: 1px;
    margin: .5rem 0;
    background-color: #e5e5e5
}

.dropdown-item {
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #373a3c;
    text-align: inherit;
    background: 0 0;
    border: 0
}

.list-dropdown {
    position: relative;
}

.list-dropdown:hover>.dropdown-menu {
    display: block;
}

.list-dropdown>.dropdown-menu {
    top: 80%;
    right: 10%;
}

.blowfish:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.icon {
    width: 10%;
    height: 10%;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 600px;
    height: 500px;
}

/*CSS for scrollbar*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg__video {
        display: none;
    }
}
