body, html {
    font-family: sans-serif;
    /* Full height */
    height: 100%;
    margin: inherit;
    overflow: hidden;
}

.bg {
    /* The image used */
    background-image: url("http://www.telegraph.co.uk/content/dam/Travel/hotels/europe/germany/berlin/regents-berlin-courtyard-p.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 50%;
}

.login-card {
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 25%;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    background-color: #141416;
}

.text-white {
    color: white;
}

.form-control {
    display: block;
    width: 92.5%;
    height: 34px;
    padding: 3px 6px;
    margin-left: 3%;
    font-size: 14px;
    line-height: 1.42857143;
    color: hsl(0, 0%, 33%);
    background-color: hsl(0, 0%, 100%);
    background-image: none;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
}

.button {
  color: #e6e6e6;
  background: hsl(200, 97%, 45%);
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  width: 95%;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: hsl(208, 97%, 45%);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.button[disabled]:hover{
    cursor: not-allowed;
}

a {
  color: #00bcd4;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: #1976d2;
}

.text-center {
  text-align: center;
}

.error-message {
  padding: 0 16px;
  color: tomato;
}

.success-message {
  padding: 0 16px;
  color: green;
}

div.invalid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    height: inherit;
    padding-top: 10%;
    padding-bottom: 25%;
    overflow: hidden;
}
